.star{
    color:#a8a8a8;
    margin-top:0;
    padding-top:0;
    padding-bottom:0;
    font-size:12px;
    line-height:1;
    margin-bottom:4px;
}

.desc{
    color:#a8a8a8;
    font-size:13px;
    line-height:1.5;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}